<head>
    <script src="/static/ckplayer/ckplayer/ckplayer.js"></script>
</head>

<body>

    <p>Hello {{ username }}</p>

    <div>
        <form enctype="multipart/form-data" method="POST" action="/transform/uploadv/">
            <input type="file" name="video" />
            <input type="submit" value="upload"/>
        </form>
    </div>

    <div>
        <p>我的最近的视频:</p>
        <div>
            {% for video in my_video_list %}
                <a href="/playpage/{{ video.video }}">{{ video.video }}</a>
            {% endfor %}
        </div>

    </div>

    <div>
        <p>其他用户最近的视频:</p>
    </div>

    <h3>转换</h3>
    <h5> 文件格式转换 </h5>
    <form  enctype="multipart/form-data" method="POST" action="/transform/process_v/">
        <input type="file" name="video" />
        <select name="format">
            <option value="mp4">mp4</option>
            <option value="3gp">3gp</option>
            <option value="avi">avi</option>
            <option value="flv">flv</option>
        </select>
        <input type="submit" value="transform"/>
    </form>

    <h5> 分辨率转换 </h5>
    <form  enctype="multipart/form-data" method="POST" action="/transform/process_v/">
        <input type="file" name="video" />
        <select name="ppi">
            <option value="1920x1080">1920x1080</option>
            <option value="1024x600">1024x600</option>
            <option value="720x480">720x480</option>
            <option value="640x480">640x480</option>
            <option value="640x360">640x360</option>
            <option value="320x240">320x240</option>
        </select>
        <input type="submit" value="transform"/>
    </form>

</body>