body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#Edit {
  position: relative;
  top: 200px;
  height: 570px;
}
#Edit_bgd {
  position:absolute;
  left:110px;
  width:1200px;
  height:510px;
}
#Edit_title {
  position:absolute;
  left:140px;
  top:-58px;
  width:266px;
  height:28px;
}
#Edit_img {
  position:absolute;
  left:210px;
  top:69px;
  width:150px;
  height:160px;
}
#Edit_update {
  position:absolute;
  left:600px;
  top:410px;
  width:220px;
  height:50px;
  font-size:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#Edit_update_bt {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#Edit_update_txt {
  position:absolute;
  left:2px;
  top:-9px;
  width:216px;
  word-wrap:break-word;
}
#Edit_name_txt {
  position:absolute;
  left:470px;
  top:49px;
  width:125px;
  height:28px;
}
#Edit_name_input {
  position:absolute;
  left:635px;
  top:69px;
  width:235px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#Edit_discription_txt {
  position:absolute;
  left:470px;
  top:130px;
  width:134px;
  height:28px;
}
#Edit_discription_input {
  position:absolute;
  left:635px;
  top:150px;
  width:490px;
  height:170px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#Upload_image {
  visibility: hidden;
  position:fixed;
  left:50%;
  margin-left:-260px;
  top:50%;
  margin-top:-171px;
}
#Upload_image_bgd {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:342px;
}
#Upload_image_close {
  position:absolute;
  left:470px;
  top:10px;
  width:40px;
  height:40px;
}
#Upload_image_img {
  position:absolute;
  left:40px;
  top:46px;
  width:250px;
  height:250px;
}
#Upload_image_txt {
  position:absolute;
  left:150px;
  top:220px;
  width:235px;
  height:13px;
}
#Upload_image_file {
  position:absolute;
  left:330px;
  top:158px;
  width:130px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#blank {
  position: relative;
  height: 200px;
}
#Footer{
  position:relative;
  left:293px;
  width:854px;
  border-top: #888888 solid 1px;
}
