body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-80px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#Upload {
  position: relative;
  top: 200px;
  height: 750px;
}
#upload_bgd {
  position:absolute;
  left:110px;
  width:1200px;
  height:660px;
}
#upload_title {
  position:absolute;
  left:140px;
  top:-58px;
  width:82px;
  height:28px;
}
#upload_cover {
  position:absolute;
  left:190px;
  top:80px;
  width:200px;
  height:150px;
  font-size:28px;
  color:#999999;
}
#upload_cover_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#upload_cover_txt1 {
  position:absolute;
  left:2px;
  top:27px;
  width:196px;
  word-wrap:break-word;
}
#upload_cover_txt2 {
  position:absolute;
  left:2px;
  top:50px;
  width:196px;
  word-wrap:break-word;
}
#File_txt {
  position:absolute;
  left:490px;
  top:62px;
  width:50px;
  height:28px;
}
#File_input {
  position:absolute;
  left:600px;
  top:85px;
  width:290px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#Title_txt {
  position:absolute;
  left:490px;
  top:142px;
  width:58px;
  height:28px;
}
#Title_input {
  position:absolute;
  left:600px;
  top:165px;
  width:290px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#Title_hint {
  visibility: hidden;
  position:absolute;
  left:500px;
  top:160px;
  width:148px;
  height:16px;
  font-size:14px;
  color:#990000;
  position:absolute;
  left:900px;
  top:160px;
  width:148px;
  height:16px;
  font-size:14px;
  color:#990000;
}
#Discription_txt {
  position:absolute;
  left:490px;
  top:310px;
  width:134px;
  height:28px;
}
#Discription_input {
  position:absolute;
  left:640px;
  top:330px;
  width:490px;
  height:170px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#Type_txt {
  position:absolute;
  left:490px;
  top:222px;
  width:63px;
  height:28px;
}
#Type_input {
  position:absolute;
  left:600px;
  top:248px;
  width:160px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#Catagory_txt {
  position:absolute;
  left:790px;
  top:222px;
  width:113px;
  height:28px;
}
#Catagory_input {
  position:absolute;
  left:920px;
  top:248px;
}
#Catagory_video {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#Catagory_audio {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  visibility: hidden;
}
#Catagory_image {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  visibility: hidden;
}
#Upload_bt {
  position:absolute;
  left:635px;
  top:570px;
  width:220px;
  height:50px;
  font-size:24px;
}
#Upload_bt_bgd {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#Upload_bt_txt {
  position:absolute;
  left:2px;
  top:-9px;
  width:216px;
  word-wrap:break-word;
}
#Upload_image {
  visibility: hidden;
  position:fixed;
  left:50%;
  margin-left:-260px;
  top:50%;
  margin-top:-171px;
}
#Upload_image_bgd {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:342px;
}
#Upload_image_close {
  position:absolute;
  left:470px;
  top:10px;
  width:40px;
  height:40px;
}
#Upload_image_img {
  position:absolute;
  left:40px;
  top:46px;
  width:250px;
  height:250px;
}
#Upload_image_txt {
  position:absolute;
  left:150px;
  top:220px;
  width:235px;
  height:13px;
}
#Upload_image_file {
  position:absolute;
  left:330px;
  top:158px;
  width:130px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#blank {
  position: relative;
  height: 170px;
}
#Footer{
  position:relative;
  left:293px;
  width:854px;
  border-top: #888888 solid 1px;
}