<!DOCTYPE html>
<html>
<head>
  <title>Audio display</title>
  <meta charset='utf-8'/>
  <link href="/static/css/styles.css" type="text/css" rel="stylesheet"/>
  <link href="/static/css/header.css" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="/static/css/audio_display.css">
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script type="text/javascript" src="/static/js/header.js"></script>
  <script type="text/javascript" src="/static/js/audio_display.js"></script>
  <script src="/static/audioplayerengine/jquery.js"></script>
  <script src="/static/audioplayerengine/amazingaudioplayer.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/audioplayerengine/initaudioplayer-1.css">
  <script src="/static/audioplayerengine/initaudioplayer-1.js"></script>
  <script src="/static/js/jquery.webcam.min.js"></script>
</head>
  <body>
  <input id="page_identify" style="display: none" value="{{ audio.audio }}">
    <div id="base" class="">

  <div id='header'>
        <!-- Logo -->
        <div id='logo'>
          <p id="Logo_title1">Super</p>
          <p id="Logo_title2">JiJi</p>
          <img id="Logo_circle" src="/static/images/header/logo_header.png"/>
        </div>
        <!-- Navigator -->
        <ul id='Navigator'>
          <li id = "Nav_Home">
              <p id="Txt_home">Home</p>
              <img id= "Line_home" class="Line" src="/static/images/header/line.png" />
              <a id = "Hot_home" class="Hot" href="/"></a>
          </li>
          <li id = "Nav_Video">
            <p id="Txt_video">Video</p>
            <img id= "Line_video" class="Line" src="/static/images/header/line.png" />
            <a id= "Hot_video" class="Hot" href="/video"></a>
          <li>
          <li id = "Nav_Audio">
            <p id="Txt_audio">Audio</p>
            <img id= "Line_audio" class="Line" src="/static/images/header/line.png" />
            <a id= "Hot_audio" class="Hot" href="/audio"></a>
          </li>
          <li id = "Nav_Image">
            <p id="Txt_image">Image</p>
            <img id= "Line_image" class="Line" src="/static/images/header/line.png"/>
            <a id= "Hot_image" class="Hot" href="/gallery"></a>
          <li>
        </ul>
        <!-- Search -->
        <div id = 'Search'>
          <a href="#"><p id="Search_login" class="paragraph">Login</p></a>
          <div id = 'User'>
            <a href="/personal_page/{{ username }}" ><p id="User_name" class="paragraph">{{ username }}</p></a>
            <p id="User_circle1" class="paragraph">○</p>
            <a href="#"><p id="User_logout" class="paragraph">Logout</p></a>
            <p id="User_circle2" class="paragraph">○</p>
            <a href="/transform/upload"><p id="User_upload" class="paragraph">Upload</p></a>
          </div>
          <img id="Search_bgd" src="/static/images/header/Search_bgd.png"/>
          <a id="search" href ="/search"><img id="Search_icon" src="/static/images/header/Search_icon.png"/></a>
        </div>
        <!-- Login -->
        <div id="Login">
          <div id="Login_containt" style="display:none;">
            <img id="Login_bgd" src="/static/images/header/Login_bgd.png">
            <!-- Logo -->
            <p id="Login_logo_title1">Super</p>
            <p id="Login_logo_title2">JiJi</p>
            <img id="Login_logo_circle" src="/static/images/header/logo_login.png"/>

            <form id="Input" action="action_page.php">
                <p id="email_txt">E-mail Address</p>
                <a href="/login/register/"><p id="sign_txt" style="text-decoration:underline;">Sign up</p></a>
                <input id="email_input" type="email" name="E-mail" value=""/>

                <p id="pwd_txt">Password</p>

                <input id="pwd_input" type="password" name="pwd" value=""/>
            </form> 
            <!-- Login -->
            <a id="Login_button" class="shape" href="#">
              <img id="Login_button_img" class="button " src="/static/images/header/button.png"/>
              <p id="Login_button_txt" class="text">LOGIN</p>
            </a>
            <!-- Sign up -->
            <a id="Face_button" class="shape" href="#">
              <img id="Login_button_img" class="button " src="/static/images/header/button.png"/>
              <p id="Login_button_txt" class="text">FACE LOGIN</p>
            </a>
          </div>
          <div id="Login_body" style="display:none;">
          </div>
          <div id="Face_login_bgd" style="visibility:hidden;">
            <img id="Face_login_bgd_img" src="/static/images/edit/u94.png"/>
            <a href="#"><img id="Face_login_close" src="/static/images/edit/close.png"/></a>
          </div>
          <div id="Face_login_page" style="visibility:hidden;">
            <p id="face_email_txt">E-mail</p>
            <input id="username" type="text">
            <button id="capture_btn">Capture</button>
            <div id="webcam"></div>
          </div>
        </div>
  </div>

      <div id="Audio">
        <img id="Audio_bgd" src="/static/images/audio_display/u0.png"/>
        <div id="Audio_icon">
          <a href="#"><img id="Download_icon" src="/static/images/video_display/u58.png"/></a>
          <p id="Download_txt" class="h2">Download</p>
          <a href="#"><img id="Like_icon" class="ax_image" src="/static/images/video_display/u62.png"/></a>
          <p id="Like_txt" class="h2">Like</p>
          <p id="Like_num" class="h2">{{ audio.like }}</p>
          <a href="#"><img id="Dislike_icon" class="ax_image" src="/static/images/video_display/u68.png"/></a>
          <p id="Dislike_txt" class="h2">Dislike</p>
          <p id="Dislike_num" class="h2">{{ audio.dislike }}</p>
          <a href="#"><img id="Collect_icon" src="/static/images/video_display/u56.png"/></a>
          <p id="Collect_txt" class="h2">Collect</p>
        </div>
        <p id="Audio_title" class="h2">{{ audio.title }}</p>
        <div id="Audio_player" class="shape">
            <div id="amazingaudioplayer-1" style="display:block;position:relative;width:862px;height:160px;margin:0px auto 0px;">
            <ul class="amazingaudioplayer-audios" style="display:none;">
                <li data-artist="" data-title="{{ audio.title }}" data-album="" data-info="" data-image="{{ audio.cover.url }}" data-duration="0">
                    <div class="amazingaudioplayer-source" data-src="{{ audio.audio.url }}" data-type="audio/mpeg" />
                </li>
            </ul>
            <div class="amazingaudioplayer-engine"><a href="http://amazingaudioplayer.com" title="html5 audio player">audio player for website</a></div>
            </div>
        </div>
      </div>

      <div id="Download_page">
          <img id="Download_bgd" src="/static/images/edit/u94.png"/>
          <a href="#"><img id="Download_close" src="/static/images/edit/close.png"/></a>
          <p id="Download_title" class="h2">Download Audio</p>

          <p id="Download_choice0" class="paragraph">MP3</p>
          <p id="Download_choice1" class="paragraph">WAV</p>

          {% if audio.mp3 %}
          <a href="{{ audio.mp3.url }}" download="{{ audio.title }}"><p id="Download_address0" class="paragraph">Download Address</p></a>
          {% else %}
            <a href="#"><p id="Download_address0" class="paragraph">Processing</p></a>
          {% endif %}
          {% if audio.wav %}
          <a href="{{ audio.wav.url }}" download="{{ audio.title }}.wav"><p id="Download_address1" class="paragraph">Download Address</p></a>
          {% else %}
            <a href="#"><p id="Download_address1" class="paragraph">Processing</p></a>
          {% endif %}
      </div>

      <div id="Display_author">
        <img id="Author_bgd" class="shape" src="/static/images/video_display/u76.png"/>
        <p id="Author_txt" class="h2">Author</p>
        <img id="Author_img" class="image" src="{{ audio.user.avatar.url }}"/>
        <a href="/personal_page/{{ audio.user.username }}"><p id="Author_name" class="h2">{{ audio.user.username }}</p></a>
        <p id="Author_discription" class="paragraph">{{ audio.user.discription }}</p>
      </div>

      <div id="Display_recommand">
        <img id="Recommand_bgd" class="shape" src="/static/images/video_display/u86.png"/>
        <p id="Recommand_title" class="h2">Recommendation</p>
        <ul id="recommand">
            {% for foo in recommand_list %}
          <li id="item{{ forloop.counter0 }}">
           <img class="recommand_img" src="{{ foo.cover.url }}"/>
           <a href="/audio_playpage/{{ foo.audio }}"></a>
           <p class="paragraph recommand_name">{{ foo.title }}</p>
         </li>
            {% endfor %}
        </ul>
      </div>
    {% if current_user %}
      <div id="Write_comment">
        <p id="Comment_title" class="h2">Comments</p>
        <img id="Comment_bgd" class="ax_shape" src="/static/images/video_display/u143.png"/>
        <textarea id="Comment_input" class="ax_text_area"></textarea>
        <img id="Comment_img" class="ax_image" data-label="Image" src="{{ current_user.avatar.url }}"/>
        <p id="Comment_name" class="h2" data-label="name">{{ username }}</p>
        <button id="Comment_send" href="#" class="shape">
          <img id="send_button" src="/static/images/video_display/u150.png"/>
          <p id="send_txt" class="text">Send</p>
        </button>
      </div>
    {% else %}
      <div id="Write_comment">
        <p id="Comment_title" class="h2">Comments</p>
        <img id="Comment_bgd" class="ax_shape" src="/static/images/video_display/u143.png"/>

      </div>
    {% endif %}

      <div id="Display_comments">
        <ul>
            {% for c in comments %}
          <li id="comment0" class="comments">
            <img class="shape Comments_bgd" src="/static/images/video_display/u123.png"/>
            <a href="/personal_page/{{ c.user.username }}"><img class="image Comments_img" src="{{ c.user.avatar.url }}"/></a>
            <a href="/personal_page/{{ c.user.username }}"><p class="h2 Comments_name">{{ c.user.username }}</p></a>
            <!-- comment (Shape) -->
            <p class="paragraph Comments_content" data-label="comment">{{ c.content }}</p>
            <p class="paragraph Comments_floor">#{{ forloop.counter }}</p>
            <p class="paragraph Comments_date" data-label="Date">{{ c.create_time.date }}</p>
            <p class="paragraph Comments_time" data-label="Time">{{ c.create_time.time }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
        <div id="blank"></div>
        <!-- Footer -->
      <div id = "Footer">
        <a href="/about_us/"><p id="Footer_txt_1" class="paragraph">Contact us</p></a>
        <a href="/about_us/"><p id="Footer_txt_2" class="paragraph">About this website.</p></a>
        <a href="/about_us/"><p id="Footer_txt_3" class="paragraph">About us</p></a>
        <img id="Footer_logo" src="/static/images/header/logo_footer.png"/>
        <p id="Footer_txt_4" class="paragraph">Super ○ JIJI 2016 in Chengdu</p>
        <p id="Footer_txt_5" class="paragraph">@Copyright Team ○Quan.&nbsp; All Rights Reserved</p>
        <img id="slice_1" class="slice" src="/static/images/header/slice.png"/>
        <img id="slice_2" class="slice" src="/static/images/header/slice.png"/>
        <img id="slice_3" class="slice" src="/static/images/header/slice.png"/>
        <img id="slice_4" class="slice" src="/static/images/header/slice.png"/>
      </div>
      </div>
    </div>
  </body>
<script type="text/javascript">
  $("#capture_btn").click(function(){
      webcam.capture();
  });
</script>
{% if username %}
    <script>
        document.getElementById("Search_login").style.visibility="hidden";
        document.getElementById("User").style.visibility="visible";
    </script>
{% endif %}
</html>
