<head>
    
</head>

<body>
	<div style=" width:660px;margin:0 auto;">
		<div id="a1"></div>
	</div>

	<script type="text/javascript">
		var bgPath='/media/barrages/test';//弹幕文件（路径），请自行根据你的程序进行定义，注意文件夹的第一级目录要存在，权限要可写，不加后缀，要修改后缀请到barrage.php里修改
		var isLive=false;//是否是直播，true=是,false=普通
	</script>
	
	<script src="/static/ckplayer/ckplayer/ckplayer.js"></script>
	<script type="text/javascript" src="/static/ckplayer/js/barrage.js" charset="utf-8"></script>
	<script type="text/javascript">
	
		var flashvars={
			f:'/media/{{video_name}}',
			c:0,
			b:0,
			loaded:'loadedHandler'
			};
		var video=['http://movie.ks.js.cn/flv/other/1_0.mp4->video/mp4'];
		CKobject.embed('/static/ckplayerckplayer/ckplayer.swf','a1','ckplayer_a1','600','400',false,flashvars,video)
	</script>

</body>
