<!DOCTYPE html>
<html>
<head>
  <title>Video display</title>
  <meta charset='utf-8'/>
  <link href="/static/css/styles.css" type="text/css" rel="stylesheet"/>
  <link href="/static/css/header.css" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="/static/css/video_display.css">
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script type="text/javascript" src="/static/js/header.js"></script>
  <script type="text/javascript" src="/static/js/video_display.js"></script>
</head>
  <body>
    <div id="base" class="">
      <div id='header'>
            <!-- Logo -->
            <div id='logo'>
              <p id="Logo_title">Super&nbsp; JiJi</p>
              <img id="Logo_circle" src="/static/images/header/logo_header.png"/>
            </div>
            <!-- Navigator -->
            <ul id='Navigator'>
              <li id = "Nav_Home">
                  <p id="Txt_home">Home</p>
                  <img id= "Line_home" class="Line" src="/static/images/header/line.png" />
                  <a id = "Hot_home" class="Hot" href="./index.html"></a>
              </li>
              <li id = "Nav_Video">
                <p id="Txt_video">Video</p>
                <img id= "Line_video" class="Line"src="/static/images/header/line.png" />
                <a id= "Hot_video" class="Hot" href="./video.html"></a>
              <li>
              <li id = "Nav_Audio">
                <p id="Txt_audio">Audio</p>
                <img id= "Line_audio" class="Line"src="/static/images/header/line.png" />
                <a id= "Hot_audio" class="Hot" href="./audio.html"></a>
              </li>
              <li id = "Nav_Image">
                <p id="Txt_image">Image</p>
                <img id= "Line_image" class="Line" src="/static/images/header/line.png"/>
                <a id= "Hot_image" class="Hot" href="./image.html"></a>
              <li>
            </ul>
            <!-- Search -->
            <div id = 'Search'>
              <a href="#"><p id="Search_login" class="paragraph">Login</p></a>
              <div id = 'User'>
                <a href="personal_page.html" ><p id="User_name" class="paragraph">{{username}}</p></a>
                <p id="User_circle1" class="paragraph">○</p>
                <a href="#"><p id="User_logout" class="paragraph">Logout</p></a>
                <p id="User_circle2" class="paragraph">○</p>
                <a href="upload.html"><p id="User_upload" class="paragraph">Upload</p></a>
              </div>
              <img id="Search_bgd" src="/static/images/header/Search_bgd.png"/>
              <a id="search" href ="./search.html"><img id="Search_icon" src="/static/images/header/Search_icon.png"/></a>
            </div>
            <!-- Login -->
            <div id="Login">
              <div id="Login_containt" style="display:none;">
              <img id="Login_bgd" src="/static/images/header/Login_bgd.png">
              <!-- Logo -->
              <p id="Login_logo_title">Super&nbsp; JiJi</p>
              <img id="Login_logo_circle" src="/static/images/header/logo_login.png"/>

              <form id="Input" action="action_page.php">
                  <input id="email_input" type="email" name="E-mail" value=""/>
                  <p id="email_txt">E-mail Address</p>

                  <input id="pwd_input" type="password" name="pwd" value=""/>
                  <p id="pwd_txt">Password</p>
              </form> 
              <!-- Login -->
              <a id="Login_button" class="shape" href="#">
                <img id="Login_button_img" class="button " src="/static/images/header/button.png"/>
                <p id="Login_button_txt" class="text">LOGIN</p>
              </a>
              <!-- Sign up -->
              <a id="Signup_button" class="shape" href="#">
                <img id="Login_button_img" class="button " src="/static/images/header/button.png"/>
                <p id="Login_button_txt" class="text">SIGN UP</p>
              </a>
            </div>
            <div id="Login_body" style="display:none;">
              </div>
            </div>
      </div>

      <div id="Display_image">
        <p id="Image_txt" class="h2">Video</p>
        <img id="Image_bgd" class="shape" src="/static/images/video_display/u0.png"/>
        <div style="position: absolute;left: 140px;top: 230px;width: 760px;height: 420px;"><div id="a1"></div></div>
        <p id="Image_title" class="h1">{{ video.title }}</p>
        <p id="Image_discription" class="paragraph"> {{ video.discription }} </p>

        <a href="{{ video.video.url }}" ><img id="Image_download_icon" src="/static/images/video_display/u58.png"/>
        <p id="Image_download_txt" class="h2">Download</p></a>
        <img id="Image_like_icon" class="image" src="/static/images/video_display/u62.png"/>
        <p id="Image_like_txt" class="h2">Like</p>
        <p id="Image_like_num" class="h2">{{ video.like }}</p>
        <img id="Image_dislike_icon" class="image" src="/static/images/video_display/u68.png"/>
        <p id="Image_dislike_txt" class="h2">Dislike</p>
        <p id="Image_dislike_num" class="h2">{{ video.dislike }}</p>
        <img id="Image_collect_icon" class="shape" src="/static/images/video_display/u56.png"/>
        <p id="Image_collect_txt" class="h2">Collect</p>
      </div>

      <div id="Display_discription">
        <img id="Discription_bgd" class="shape" src="/static/images/video_display/u80.png"/>
        <p id="Discription_title" class="h2">Discription</p>
        <img id="Discription_cover" src="/static/images/home/photo_1.jpg"/>
        <p id="Discription_name" class="h2">{{ video.title }}</p>
        <p id="Discription_txt" class="paragraph">{{ video.discription }}</p>

      </div>

      <div id="Display_author">
        <img id="Author_bgd" class="shape" src="/static/images/video_display/u76.png"/>
        <p id="Author_txt" class="h2">Author</p>
        <img id="Author_img" class="image" src="/static/images/video_display/image_u125.jpg"/>
        <p id="Author_name" class="h2">Starboy</p>
        <p id="Author_discription" class="paragraph">Some discription about the author, who he/she is? whe he/she get his/her inspiration from? Lots of staff basically about anything.Some discription about the author, who he/she is? whe he/she get his/her inspiration from? Lots of staff basically about anything.</p>
      </div>

      <div id="Display_recommand">
        <img id="Recommand_bgd" class="shape" src="/static/images/video_display/u86.png"/>
        <p id="Recommand_title" class="h2">Recommendation</p>
        <ul id="recommand">
          <li id="item0">
           <img class="recommand_img" src="/static/images/home/photo_1.jpg"/>
           <a href="#"></a>
           <p class="paragraph recommand_name">SCHW</p>
         </li>
        <li id="item1">
          <img class="recommand_img" src="/static/images/home/photo_3.jpg"/>
          <a href="#"></a>
          <p class="paragraph recommand_name">Maritime</p>
        </li>
        <li id="item2">
          <img class="recommand_img" src="/static/images/video_display/u96.jpg"/>
          <a href="#"></a>
          <p class="paragraph recommand_name">Gipfel</p>
        </li>
        <li id="item3">
          <img class="recommand_img" src="/static/images/video_display/u98.jpg"/>
          <a href="#"></a>
          <p class="paragraph recommand_name">Weite</p>
        </li>
        <li id="item4">
          <img class="recommand_img" src="/static/images/video_display/u100.jpg"/>
          <a href="#"></a>
          <p class="paragraph recommand_name">Schwane</p>
        </li>
      </ul>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="Write_comment">
      <p id="Comment_title" class="h2">Comments</p>
      <img id="Comment_bgd" class="ax_shape" src="/static/images/video_display/u143.png"/>
      <div id="Comment_input" class="ax_text_field">
        <input id="u149_input" type="text" value=""/>
      </div>
      <img id="Comment_img" class="ax_image" data-label="Image" src="/static/images/video_display/image_u125.jpg"/>
      <p id="Comment_name" class="h2" data-label="name">Starboy</p>
      <div id="Comment_send" class="shape">
        <img id="send_button" src="/static/images/video_display/u150.png"/>
        <p id="send_txt" class="text">Send</p>
      </div>
    </div>

      <!-- Unnamed (Repeater) -->
      <ul id="Display_comments">
        {% for item in comments %}
        <li id="comment0" class="comments">
          <img class="shape Comments_bgd" src="/static/images/video_display/u123.png"/>
          <img class="image Comments_img" src="/static/images/video_display/image_u125.jpg"/>
          <p class="h2 Comments_name">Starboy</p>
          <p class="paragraph Comments_content" data-label="comment"> {{ item.content }}</p>
          <img class="Comments_like_img" src="/static/images/video_display/u131.png"/>
          <p class="paragraph Comments_like_num">{{ item.like }}</p>
          <p class="paragraph Comments_floor">1</p>
          <p class="paragraph Comments_date" data-label="Date"></p>
          <p class="paragraph Comments_time" data-label="Time">{{ item.create_time }}</p>
          {% endfor %}
        </li>
      </ul>

    </div>
    <!--ckplayer js-->
    <script type="text/javascript">
		var isLive=false;
	</script>
	<script type="text/javascript" src="/static/ckplayer/ckplayer/ckplayer.js" charset="utf-8"></script>
	<script type="text/javascript" src="/static/ckplayer/js/barrage.js" charset="utf-8"></script>
	<script type="text/javascript">

		var flashvars={
			f:'{{ video.video.url }}',
			c:0,
			b:0,
			loaded:'loadedHandler'
			};
		var video=['http://movie.ks.js.cn/flv/other/1_0.mp4->video/mp4'];
		CKobject.embed('/static/ckplayer/ckplayer/ckplayer.swf','a1','ckplayer_a1','760','420',false,flashvars,video)
	</script>
    {% if username %}
    <script>
        document.getElementById("Search_login").style.visibility="hidden";
        document.getElementById("User").style.visibility="visible";
    </script>
    {% endif %}
  </body>
</html>
