body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-80px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#Audio_bgd {
  position:absolute;
  left:110px;
  top:200px;
  width:1200px;
  height:690px;
}
#Download_icon {
  position:absolute;
  left:406px;
  top:440px;
  width:30px;
  height:30px;
}
#Download_txt {
  position:absolute;
  left:446px;
  top:429px;
  width:87px;
  height:21px;
  font-size:18px;
  color:#666666;
}
#Like_icon {
  position:absolute;
  left:606px;
  top:440px;
  width:30px;
  height:30px;
}
#Like_txt {
  position:absolute;
  left:646px;
  top:429px;
  width:37px;
  height:21px;
  font-size:18px;
  color:#666666;
}
#Like_num {
  position:absolute;
  left:692px;
  top:429px;
  width:29px;
  height:21px;
  font-size:18px;
}
#Dislike_icon {
  position:absolute;
  left:786px;
  top:445px;
  width:30px;
  height:30px;
}
#Dislike_txt {
  position:absolute;
  left:836px;
  top:429px;
  width:59px;
  height:21px;
  font-size:18px;
  color:#666666;
}
#Dislike_num {
  position:absolute;
  left:906px;
  top:429px;
  width:11px;
  height:21px;
  font-size:18px;
}
#Collect_icon {
  position:absolute;
  left:976px;
  top:445px;
  width:25px;
  height:25px;
}
#Collect_txt {
  position:absolute;
  left:1016px;
  top:429px;
  width:61px;
  height:21px;
  font-size:18px;
  color:#666666;
}
#Audio_title {
  position:absolute;
  left:140px;
  top:142px;
  width:90px;
  height:28px;
}
#Audio_cover {
  position:absolute;
  left:200px;
  top:260px;
  width:150px;
  height:160px;
}
#Audio_lyric {
  position:absolute;
  left:470px;
  top:480px;
  width:530px;
  height:201px;
  font-size:20px;
  word-wrap:break-word;
}
#Audio_player {
  position:absolute;
  left:410px;
  top:260px;
  width:662px;
  height:160px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
}
#Display_author {
  position: relative;
  top: 170px;
}
#Author_bgd {
  position:absolute;
  left:110px;
  top:810px;
  width:1200px;
  height:190px;
}
#Author_txt {
  position:absolute;
  left:130px;
  top:752px;
  width:80px;
  height:28px;
}
#Author_img {
  position:absolute;
  left:140px;
  top:835px;
  width:140px;
  height:140px;
}
#Author_name {
  position:absolute;
  left:320px;
  top:822px;
  width:90px;
  height:28px;
}
#Author_discription {
  position:absolute;
  left:320px;
  top:870px;
  width:930px;
  height:54px;
  font-size:16px;
}
#Display_recommand {
  position: relative;
  top: 170px;
}
#Recommand_bgd {
  position:absolute;
  left:110px;
  top:1080px;
  width:1200px;
  height:210px;
}
#Recommand_title {
  position:absolute;
  left:130px;
  top:1022px;
  width:202px;
  height:28px;
}
#item0{
  position: absolute;
  left:140px;
  top:1105px;
}
#recommand a {
  position:absolute;
  left: 0px;
  top: 0px;
  width:200px;
  height:140px;
}
#recommand a:hover{
  background-color: #333333;
  opacity: 0.3;
}
#recommand img {
  position:absolute;
  left: 0px;
  top: 0px;
  width:200px;
  height:140px;
}
#recommand p {
  position:absolute;
  left:72px;
  top:140px;
  width:56px;
  height:21px;
  font-size:18px;
}
#item1 {
  position:absolute;
  left:375px;
  top:1105px;
  width:200px;
  height:140px;
}
#item2 {
  position:absolute;
  left:610px;
  top:1105px;
  width:200px;
  height:140px;
}
#item3 {
  position:absolute;
  left:846px;
  top:1105px;
  width:200px;
  height:140px;
}
#item4 {
  position:absolute;
  left:1080px;
  top:1105px;
  width:200px;
  height:140px;
}
#Display_comments {
  position:absolute;
  left:110px;
  top:1750px;
  width:1200px;
  height:450px;
}
.Comments_bgd {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:150px;
}
.Comments_img {
  position:absolute;
  left:31px;
  top:18px;
  width:90px;
  height:91px;
}
.Comments_name {
  position:absolute;
  left:42px;
  top:99px;
  width:68px;
  height:21px;
  font-size:18px;
}
.Comments_content {
  position:absolute;
  left:160px;
  top:10px;
  width:840px;
  height:54px;
  font-size:16px;
}
.Comments_like_img {
  position:absolute;
  left:1130px;
  top:95px;
  width:40px;
  height:40px;
}
.Comments_like_num {
  position:absolute;
  left:1170px;
  top:91px;
  width:10px;
  height:18px;
  font-size:16px;
  color:#666666;
}
.Comments_floor {
  position:absolute;
  left:961px;
  top:91px;
  width:19px;
  height:18px;
  font-size:16px;
  color:#666666;
}
.Comments_date {
  position:absolute;
  left:997px;
  top:91px;
  width:72px;
  height:18px;
  font-size:16px;
  color:#666666;
}
.Comments_time {
  position:absolute;
  left:1079px;
  top:91px;
  width:41px;
  height:18px;
  font-size:16px;
  color:#666666;
}
#Write_comment {
  position: relative;
  top: 170px;
}
#Comment_bgd {
  position:absolute;
  left:110px;
  top:1380px;
  width:1200px;
  height:150px;
}
#Comment_input {
  position:absolute;
  left:269px;
  top:1408px;
  width:841px;
  height:95px;
}
#u149_input {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:95px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#Comment_title{
  position: absolute;
  left: 140px;
  top:1320px;
}
#Comment_img {
  position:absolute;
  left:135px;
  top:1400px;
  width:90px;
  height:91px;
}
#Comment_name {
  position:absolute;
  left:146px;
  top:1481px;
  width:68px;
  height:21px;
  font-size:18px;
}
#Comment_send {
  position:absolute;
  left:1170px;
  top:1440px;
  width:100px;
  height:30px;
  font-size:16px;
}
#send_button {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#send_txt {
  position:absolute;
  left:2px;
  top:-9px;
  width:96px;
  word-wrap:break-word;
}