body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-80px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:relative;
  top: 200px;
  height: 500px;
  z-index:0;
}
#Forget_bgd {
  position:absolute;
  left:110px;
  width:1200px;
  height:340px;
}
#Forget_txt {
  position:absolute;
  left:140px;
  top:-58px;
  width:194px;
  height:28px;
}
#forget_email_txt {
  position:absolute;
  left:257px;
  top:102px;
  width:183px;
  height:28px;
}
#forget_email_input {
  position:absolute;
  left:467px;
  top:122px;
  width:670px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#forget_email_hint {
  position:absolute;
  left:467px;
  top:150px;
  width:148px;
  height:16px;
  font-size:14px;
  color:#990000;
}
#forget_bt {
  position:absolute;
  left:600px;
  top:230px;
  width:220px;
  height:50px;
  font-size:24px;
}
#forget_bt_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#forget_bt_txt {
  position:absolute;
  left:2px;
  top:-9px;
  width:216px;
  word-wrap:break-word;
}
#blank {
  position: relative;
  height: 200px;
}
#Footer{
  position:relative;
  left:293px;
  width:854px;
  border-top: #888888 solid 1px;
}