body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-80px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#Display_image {
  position: relative;
  top: 200px;
  height: 1000px;
}
#Image_txt {
  position:absolute;
  left:140px;
  top:-58px;
  width:70px;
  height:28px;
}
#Image_bgd {
  position:absolute;
  left:110px;
  width:1200px;
  height:700px;
}
#Image_display {
  position:absolute;
  left:150px;
  top:30px;
  width:1100px;
  height:600px;
}
#Image_title {
  position:absolute;
  left:960px;
  top:20px;
  width:101px;
  height:39px;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
}
#icon {
  position: relative;
  top:640px;
  left:50px;
}
#Image_download_icon {
  position:absolute;
  left:140px;
  top:10px;
  width:30px;
  height:30px;
}
#Image_download_txt {
  position:absolute;
  left:180px;
  width:87px;
  height:21px;
  font-size:18px;
  color:#666666;
}
#Image_like_icon {
  position:absolute;
  left:340px;
  top:10px;
  width:30px;
  height:30px;
}
#Image_like_txt {
  position:absolute;
  left:380px;
  width:37px;
  height:21px;
  font-size:18px;
  color:#666666;
}
#Image_like_num {
  position:absolute;
  left:427px;
  width:29px;
  height:21px;
  font-size:18px;
}
#Image_dislike_icon{
  position:absolute;
  left:520px;
  top:15px;
  width:30px;
  height:30px;
}
#Image_dislike_txt {
  position:absolute;
  left:571px;
  width:59px;
  height:21px;
  font-size:18px;
  color:#666666;
}
#Image_dislike_num {
  position:absolute;
  left:640px;
  width:11px;
  height:21px;
  font-size:18px;
}
#Image_collect_icon {
  position:absolute;
  left:710px;
  top:15px;
  width:25px;
  height:25px;
}
#Image_collect_txt {
  position:absolute;
  left:750px;
  width:61px;
  height:21px;
  font-size:18px;
  color:#666666;
}
#Display_discription {
  position: relative;
  height: 300px;
}
#Discription_bgd {
  position:absolute;
  left:110px;
  width:1200px;
  height:190px;
}
#Discription_title {
  position:absolute;
  left:130px;
  top:-60px;
  width:126px;
  height:28px;
}
#Discription_cover {
  position:absolute;
  left:140px;
  top:22px;
  width:140px;
  height:140px;
}
#Discription_name {
  position:absolute;
  left:320px;
  top:10px;
  width:88px;
  height:28px;
}
#Discription_txt {
  position:absolute;
  left:320px;
  top:58px;
  width:930px;
  height:54px;
  font-size:16px;
}
#Display_author {
  position: relative;
  height: 300px;
}
#Author_bgd {
  position:absolute;
  left:110px;
  width:1200px;
  height:190px;
}
#Author_txt {
  position:absolute;
  left:130px;
  top:-58px;
  width:80px;
  height:28px;
}
#Author_img {
  position:absolute;
  left:140px;
  top:25px;
  width:140px;
  height:140px;
}
#Author_name {
  position:absolute;
  left:320px;
  top:12px;
  width:90px;
  height:28px;
}
#Author_discription {
  position:absolute;
  left:320px;
  top:60px;
  width:930px;
  height:54px;
  font-size:16px;
}
#Display_recommand {
  position: relative;
  height: 300px;
}
#Recommand_bgd {
  position:absolute;
  left:110px;
  width:1200px;
  height:210px;
}
#Recommand_title {
  position:absolute;
  left:130px;
  top:-58px;
  width:202px;
  height:28px;
}
#item0{
  position: absolute;
  left:140px;
  top:25px;
}
#recommand a {
  position:absolute;
  left: 0px;
  top: 0px;
  width:200px;
  height:140px;
}
#recommand a:hover{
  background-color: #333333;
  opacity: 0.3;
}
#recommand img {
  position:absolute;
  left: 0px;
  top: 0px;
  width:200px;
  height:140px;
}
#recommand p {
  position:absolute;
  left:72px;
  top:140px;
  width:56px;
  height:21px;
  font-size:18px;
}
#item1 {
  position:absolute;
  left:375px;
  top:25px;
  width:200px;
  height:140px;
}
#item2 {
  position:absolute;
  left:610px;
  top:25px;
  width:200px;
  height:140px;
}
#item3 {
  position:absolute;
  left:846px;
  top:25px;
  width:200px;
  height:140px;
}
#item4 {
  position:absolute;
  left:1080px;
  top:25px;
  width:200px;
  height:140px;
}
#Display_comments {
  position:relative;
  width:1200px;
}
#Display_comments li{
    left:110px;
}
.comments{
  position: relative;
}
.Comments_bgd {
  position:relative;
  left:0px;
  top:0px;
  width:1200px;
  height:150px;
}
.Comments_img {
  position:absolute;
  left:31px;
  top:18px;
  width:90px;
  height:91px;
}
.Comments_name {
  position:absolute;
  left:42px;
  top:99px;
  width:68px;
  height:21px;
  font-size:18px;
}
.Comments_content {
  position:absolute;
  left:160px;
  top:10px;
  width:840px;
  height:54px;
  font-size:16px;
}
.Comments_like_img {
  position:absolute;
  left:1130px;
  top:95px;
  width:40px;
  height:40px;
}
.Comments_like_num {
  position:absolute;
  left:1170px;
  top:91px;
  width:10px;
  height:18px;
  font-size:16px;
  color:#666666;
}
.Comments_floor {
  position:absolute;
  left:961px;
  top:91px;
  width:19px;
  height:18px;
  font-size:16px;
  color:#666666;
}
.Comments_date {
  position:absolute;
  left:997px;
  top:91px;
  width:72px;
  height:18px;
  font-size:16px;
  color:#666666;
}
.Comments_time {
  position:absolute;
  left:1079px;
  top:91px;
  width:41px;
  height:18px;
  font-size:16px;
  color:#666666;
}
#Write_comment {
  position: relative;
  height: 200px;
}
#Comment_bgd {
  position:absolute;
  left:110px;
  width:1200px;
  height:150px;
}
#Comment_input {
  position:absolute;
  left:269px;
  top:28px;
  width:841px;
  height:95px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#Comment_title{
  position: absolute;
  left: 140px;
  top:-58px;
}
#Comment_img {
  position:absolute;
  left:135px;
  top:20px;
  width:90px;
  height:91px;
}
#Comment_name {
  position:absolute;
  left:146px;
  top:100px;
  width:68px;
  height:21px;
  font-size:18px;
}
#Comment_send {
  position:absolute;
  left:1170px;
  top:60px;
  width:100px;
  height:30px;
  font-size:16px;
}
#send_button {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#send_txt {
  position:absolute;
  left:2px;
  top:-9px;
  width:96px;
  word-wrap:break-word;
}
#blank {
  position: relative;
  height: 80px
}
#Footer{
  position: relative;
  left:293px;
  width:854px;
  border-top: #888888 solid 1px;
}