#photo {
  position:absolute;
  left:136px;
  top:70px;
  width:1168px;
  height:510px;
  overflow:hidden;
}
#photo img{
  width:1170px;
  height:510px;
}
.slider {
  width:1168px;
  height:510px;
  overflow: hidden;
  margin: 100px auto;
  }

.slider ul {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.slider ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
  font-size: 0;
}

.slideitem {
  position: relative;
}
#next {
  position:absolute;
  left:1264px;
  top:440px;
  width:40px;
  height:40px;
  opacity:0.5;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  z-index: 9;
}
#pre {
  position:absolute;
  left:136px;
  top:440px;
  width:40px;
  height:40px;
  opacity:0.5;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  z-index: 8;
}
.photo_nav_bgd {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
.photo_nav_txt {
  position:absolute;
  left:14px;
  top:-10px;
  width:36px;
  word-wrap:break-word;
}
#mark {
  position:absolute;
  left:1214px;
  top:652px;
  width:90px;
  height:28px;
  overflow:hidden;
  z-index: 8;
}
#mark li{
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.mark_item{
  position: absolute;
  top:10px;
  width:10px;
  height:10px;
}
#marker1 {
  left:10px;
}
#marker2 {
  left:30px;
}
#marker3 {
  left:50px;
}
#marker4 {
  left:70px;
}
#Video {
  position:absolute;
  left:100px;
  top:770px;
  width:1240px;
  border-top: #000000 solid 2px;
}
.Title {
  position:absolute;
  top:-45px;
  width:53px;
  height:22px;
  font-family:'CenturyGothic', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
.More {
  position:absolute;
  left:1189px;
  top:-24px;
  width:41px;
  height:20px;
  font-family:'CenturyGothic', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color: #000000;
  text-decoration:underline;
}
.display {
  position:absolute;
  left:30px;
  top:26px;
  width:1190px;
  height:474px;
}
#item0{
  position: absolute;
  left:0px;
}
#item1{
  position: absolute;
  left:310px;
}
#item2{
  position: absolute;
  left:620px;
}
#item3{
  position: absolute;
  left:930px;
}
#item4{
  position: absolute;
  left:0px;
  top:250px;
}
#item5{
  position: absolute;
  left:310px;
  top:250px;
}
#item6{
  position: absolute;
  left:620px;
  top:250px;
}
#item7{
  position: absolute;
  left:930px;
  top:250px;
}
.display img {
  position:absolute;
  width:260px;
  height:200px;
}
.display p{
  position:absolute;
  top:210px;
  width:260px;
  height:17px;
  font-family:'CenturyGothic', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
.display a{
  position:absolute;
  top:0px;
  width:260px;
  height:200px;
}
.display a:hover{
  background-color: #333333;
  opacity: 0.3;
}

#Audio{
  position:absolute;
  left:100px;
  top:1395px;
  width:1240px;
  border-top: #000000 solid 2px;
}
#Image {
  position:absolute;
  left:100px;
  top:2005px;
  width:1240px;
  border-top: #000000 solid 2px;
}
#Footer{
  position:absolute;
  left:293px;
  top:2580px;
  width:854px;
  border-top: #888888 solid 1px;
}