body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-80px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#Search_area {
  position:absolute;
  left:248px;
  top:201px;
  width:870px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#Search_icon_bgd {
  position:absolute;
  left:1122px;
  top:201px;
  width:50px;
  height:46px;
}
#Search_icon_img {
  position:absolute;
  left:1122px;
  top:201px;
  width:51px;
  height:46px;
}
#Content_video {
  display: block;
}
#Content_audio {
  display: none;
}
#Content_image {
  display: none;
}
#Content_user {
  display: none;
}
.ca{
  position: relative;
  top:0px;
  width:1160px;
  height:105px;
  background-color: #DDDDDD;
}
#Na_video {
  position:absolute;
  left:130px;
  top:291px;
  width:150px;
  height:44px;
  font-size:20px;
}
.Na_bgd {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
.Na_txt {
  position:absolute;
  left:2px;
  top:-8px;
  width:146px;
  word-wrap:break-word;
}
#Na_audio {
  position:absolute;
  left:280px;
  top:291px;
  width:150px;
  height:44px;
  font-size:20px;
}
#Na_image {
  position:absolute;
  left:430px;
  top:291px;
  width:150px;
  height:44px;
  font-size:20px;
}
#Na_user {
  position:absolute;
  left:580px;
  top:291px;
  width:150px;
  height:44px;
  font-size:20px;
}
#Search_content {
  position:absolute;
  left:130px;
  top:335px;
}
.ca_bgd {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:105px;
  font-size:20px;
}
#sort_txt {
  position:absolute;
  left:40px;
  top:2px;
  width:90px;
  height:21px;
  font-size:18px;
}
#Sort {
  position: absolute;
  top:22px;
}
#sort_relevance {
  position:absolute;
  left:160px;
  width:100px;
  height:15px;
}
#Sort p {
  position:absolute;
  left:16px;
  top:-12px;
  width:82px;
  word-wrap:break-word;
}
#Sort input{
  position:absolute;
  left:-3px;
  top:-2px;
}
#sort_latest {
  position:absolute;
  left:260px;
  width:100px;
  height:15px;
}
#sort_oldest {
  position:absolute;
  left:360px;
  width:100px;
  height:15px;
}
#sort_most {
  position:absolute;
  left:460px;
  width:100px;
  height:15px;
}
#sort_least {
  position:absolute;
  left:590px;
  width:100px;
  height:15px;
}
#cata_txt {
  position:absolute;
  left:40px;
  top:47px;
  width:90px;
  height:21px;
  font-size:18px;
}
#Cata {
  position: absolute;
  top: 67px;
}
#Cata p {
  position:absolute;
  left:16px;
  top:-14px;
  width:182px;
  word-wrap:break-word;
}
#Cata input{
  position:absolute;
  left:-3px;
  top:-2px;
}
#cata_video_animation {
  position: absolute;
  left: 160px;
}
#cata_video_music {
  position:absolute;
  left:260px;
  width:100px;
  height:15px;
}
#cata_video_game {
  position:absolute;
  left:360px;
  width:100px;
  height:15px;
}
#cata_video_tech {
  position:absolute;
  left:460px;
  width:150px;
  height:15px;
}
#cata_video_entertainment {
  position:absolute;
  left:590px;
  width:120px;
  height:15px;
}
#cata_video_TV {
  position:absolute;
  left:720px;
  width:120px;
  height:15px;
}
#cata_video_life {
  position:absolute;
  left:840px;
  width:120px;
  height:15px;
}
#cata_video_fashion {
  position:absolute;
  left:940px;
  width:120px;
  height:15px;
}
#update_bt {
  position:absolute;
  left:1040px;
  top:35px;
  width:100px;
  height:35px;
  font-size:16px;
}
#update_bt_bgd {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#update_bt_txt {
  position:absolute;
  left:2px;
  top:-7px;
  width:96px;
  word-wrap:break-word;
}
.Content {
  position:relative;
  left:0px;
  width:1160px;
}
.item {
  position: absolute;
  width: 580px;
  height: 180px;
  background-color: #DDDDDD;
  border: #999999 solid 1px;
}
.item:hover{
  background-color: #EEEEEE;
}
.Content img {
  position:absolute;
  left:20px;
  top:31px;
  width:140px;
  height:118px;
}
.Content p {
  font-family:'Arial', 'Arial';
}
#item0 {
  position: relative;
  left:0px;
}
#item1 {
  position: relative;
  left:580px;
  height: 180px;
}
.last {
  height: 180px;
}
#Content_title {
  position:absolute;
  left:190px;
  top:5px;
  width:50px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
#Content_discription {
  position:absolute;
  left:190px;
  top:49px;
  width:77px;
  height:18px;
  font-size:16px;
}
#Content_date {
  position:absolute;
  left:190px;
  top:116px;
  width:72px;
  height:18px;
  font-size:16px;
  color:#666666;
}
#Content_name {
  position:absolute;
  left:342px;
  top:116px;
  width:78px;
  height:18px;
  font-size:16px;
  color:#666666;
}
#Content_time {
  position:absolute;
  left:280px;
  top:116px;
  width:41px;
  height:18px;
  font-size:16px;
  color:#666666;
}
#cata_audio_music {
  position:absolute;
  left:160px;
  width:100px;
  height:15px;
}
#cata_audio_book {
  position:absolute;
  left:260px;
  width:100px;
  height:15px;
}
#cata_audio_talk {
  position:absolute;
  left:360px;
  width:100px;
  height:15px;
}
#cata_audio_entertainment {
  position:absolute;
  left:460px;
  width:120px;
  height:15px;
}
#cata_audio_news {
  position:absolute;
  left:590px;
  width:120px;
  height:15px;
}
#cata_audio_others {
  position:absolute;
  left:700px;
  width:120px;
  height:15px;
}
#cata_image_natural {
  position: absolute;
  left: 160px;
}
#cata_image_animal {
  position:absolute;
  left:280px;
  width:100px;
  height:15px;
}
#cata_image_sports {
  position:absolute;
  left:360px;
  width:100px;
  height:15px;
}
#cata_image_foods {
  position:absolute;
  left:460px;
  width:150px;
  height:15px;
}
#cata_image_ideas {
  position:absolute;
  left:550px;
  width:120px;
  height:15px;
}
#cata_image_wallpaper {
  position:absolute;
  left:630px;
  width:120px;
  height:15px;
}
#cata_image_fashion {
  position:absolute;
  left:740px;
  width:120px;
  height:15px;
}
#cata_image_tech {
  position:absolute;
  left:840px;
  width:120px;
  height:15px;
}
#blank {
  position: relative;
  height: 100px;
}
#Footer{
  position: relative;
  left:163px;
  width:854px;
  border-top: #888888 solid 1px;
}s