<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/cs.css" rel="stylesheet" type="text/css">
    <script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/jquery.webcam.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function(){

    var pos = 0;
    var up_url = "/login/recog_login"
    var canvas = document.createElement("canvas");
    canvas.setAttribute('width', 320);
    canvas.setAttribute('height', 240);
    ctx = canvas.getContext("2d");
    image = ctx.getImageData(0, 0, 320, 240);

    jQuery("#webcam").webcam({
        width: 320,
        height: 240,
        mode: "callback",
        swffile: "/static/swf/jscam_canvas_only.swf", // canvas only doesn't implement a jpeg encoder, so the file is much smaller

        onTick: function(remain) {
            if (0 == remain) {
                jQuery("#status").text("Cheese!");
            } else {
                jQuery("#status").text(remain + " seconds remaining...");
            }
        },

        onSave: function(data) {

        　　if (canvas.toDataURL) {
            var col = data.split(";");
            var img = image;
        　　	for(var i = 0; i < 320; i++) {
                　　var tmp = parseInt(col[i]);
                　　img.data[pos + 0] = (tmp >> 16) & 0xff;
                　　img.data[pos + 1] = (tmp >> 8) & 0xff;
                　　img.data[pos + 2] = tmp & 0xff;
                　　img.data[pos + 3] = 0xff;
                　　pos+= 4;
        　　	}
            if (pos >= 4 * 320 * 240) {
            　　	ctx.putImageData(img, 0, 0);
            　　	$.post(up_url, {type: "data", image: canvas.toDataURL("image/jpeg"), username:$("#username").val()}, function(return_html){
            　　		if(return_html=="T")
                        self.location.href='/'
                    else
                        self.location.href='/login/recog_login'
            　　	});
            　　	pos = 0;
            　　}
        　　} else {
                　　image.push(data);
                　　pos+= 4 * 320;　　
                　　if (pos >= 4 * 320 * 240) {
                    　　$.post(up_url, {type: "data", image: image.join('|')},  function(){
                    　　  location.href("/");
                    　　});
                    　　pos = 0;
                　　}
        　　}
        },
        onCapture: function () {
            webcam.save();
        },

        debug: function (type, string) {},

        onLoad: function () {
        // Page load
            var cams = webcam.getCameraList();
            for(var i in cams) {
                jQuery("#cams").append("<li>" + cams[i] + "</li>");
            }
        }
    });
    });
</script>
</head>
<body>
    <div id="webcam"></div>
    <input id="username" type="text">
    <button id="capture_btn">login</button>
    <script>
        $("#capture_btn").click(function(){
            webcam.capture();
        });
    </script>
</body>
</html>