<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
  <title>Sign up</title>
  <meta charset='utf-8'/>
  <link href="/static/css/styles.css" type="text/css" rel="stylesheet"/>
  <link href="/static/css/header.css" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="/static/css/signup2.css">
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script type="text/javascript" src="/static/js/header.js"></script>
  <script type="text/javascript" src="/static/js/signup2.js"></script>
  <script src="/static/js/jquery.webcam.min.js"></script>
</head>
  <body>
  <div id='header'>
        <!-- Logo -->
        <div id='logo'>
          <p id="Logo_title1">Super</p>
          <p id="Logo_title2">JiJi</p>
          <img id="Logo_circle" src="/static/images/header/logo_header.png"/>
        </div>
        <!-- Navigator -->
        <ul id='Navigator'>
          <li id = "Nav_Home">
              <p id="Txt_home">Home</p>
              <img id= "Line_home" class="Line" src="/static/images/header/line.png" />
              <a id = "Hot_home" class="Hot" href="/"></a>
          </li>
          <li id = "Nav_Video">
            <p id="Txt_video">Video</p>
            <img id= "Line_video" class="Line" src="/static/images/header/line.png" />
            <a id= "Hot_video" class="Hot" href="/video"></a>
          <li>
          <li id = "Nav_Audio">
            <p id="Txt_audio">Audio</p>
            <img id= "Line_audio" class="Line" src="/static/images/header/line.png" />
            <a id= "Hot_audio" class="Hot" href="/audio"></a>
          </li>
          <li id = "Nav_Image">
            <p id="Txt_image">Image</p>
            <img id= "Line_image" class="Line" src="/static/images/header/line.png"/>
            <a id= "Hot_image" class="Hot" href="/gallery"></a>
          <li>
        </ul>

  </div>
    <div id="base" class="">
      <img id="Signup_bgd" src="/static/images/upload/u56.png"/>
      <p id="Signup_title" class="h2">Sign up</p>

      <p id="Signup_hint" class="paragraph">5 photos are required to be taken for Face Login function</p>
      <div id="Signup_camera">
            <div id="webcam2"></div>
      </div>
      <button id="Take_photo">Take photo</button>

      <div id="Photo">
        <img id="Photo_1" src="/static/images/personal_page/u0.png"/>
        <img id="Photo_2" src="/static/images/personal_page/u0.png"/>
        <img id="Photo_3" src="/static/images/personal_page/u0.png"/>
        <img id="Photo_4" src="/static/images/personal_page/u0.png"/>
        <img id="Photo_5" src="/static/images/personal_page/u0.png"/>
      </div>
    </div>
    <div id="blank"></div>
    <div id = "Footer">
        <a href="/about_us/"><p id="Footer_txt_1" class="paragraph">Contact us</p></a>
        <a href="/about_us/"><p id="Footer_txt_2" class="paragraph">About this website.</p></a>
        <a href="/about_us/"><p id="Footer_txt_3" class="paragraph">About us</p></a>
        <img id="Footer_logo" src="/static/images/header/logo_footer.png"/>
        <p id="Footer_txt_4" class="paragraph">Super ○ JIJI 2016 in Chengdu</p>
        <p id="Footer_txt_5" class="paragraph">@Copyright Team ○Quan.&nbsp; All Rights Reserved</p>
        <img id="slice_1" class="slice" src="/static/images/header/slice.png"/>
        <img id="slice_2" class="slice" src="/static/images/header/slice.png"/>
        <img id="slice_3" class="slice" src="/static/images/header/slice.png"/>
        <img id="slice_4" class="slice" src="/static/images/header/slice.png"/>
      </div>
  </body>
</html>
