<!DOCTYPE html>
<html>
<head>
  <title>lyric</title>
  <meta charset='utf-8'/>
  <link href="css/styles.css" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="css/lyric.css">
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/audio_display.js"></script>
</head>
  <body>
        <div id="Audio_lyric_content" class="paragraph">
            <p>歌词或简介</p>
            <p>I'm tryna put you in the worst mood, ah</p>
            <p>我就是要赢过自以为是的你&nbsp;>嗯哼</p>
            <p>P1 cleaner than your church shoes, ah</p>
            <p>我的迈凯伦P1都比你去教堂穿的正装干净</p>
            <p>Milli point two just to hurt you, ah</p>
            <p>这车值一百二十万呢&nbsp;你是否觉得伤不起</p>
            <p>All red Lamb' just to tease you, ah</p>
            <p>买下那红色兰博就是想嘲笑一下你</p>
            <p>歌词或简介</p>
            <p>I'm tryna put you in the worst mood, ah</p>
            <p>我就是要赢过自以为是的你&nbsp;>嗯哼</p>
            <p>P1 cleaner than your church shoes, ah</p>
            <p>我的迈凯伦P1都比你去教堂穿的正装干净</p>
            <p>Milli point two just to hurt you, ah</p>
            <p>这车值一百二十万呢&nbsp;你是否觉得伤不起</p>
            <p>All red Lamb' just to tease you, ah</p>
            <p>买下那红色兰博就是想嘲笑一下你</p>
        </div>
  </body>
</html>
